language: c++
os: linux
dist: bionic
before_install:
- sudo apt-get install libgtest-dev
- sudo apt-get install cmake
- ls /usr/src
- cd /usr/src/gtest
- sudo cmake CMakeLists.txt
- sudo make
- sudo cp *.a /usr/lib
- mkdir /usr/local/lib/gtest
- sudo ln -s /usr/lib/libgtest.a /usr/local/lib/gtest/libgtest.a
- sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/gtest/libgtest_main.a
script: make test
after_success:
- gcov test/main_test.cpp
- bash <( curl -s https://codecov.io/bash )
